<h2><%= @user.first_name %> <%= @user.last_name %>'s List</h2>

<% if @user_products.count > 0 %>
	<table id="Products">
		<tr>
			<th colspan="2">Product</th>
			<th># in stock</th>
			<th>Price</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @user_products.each_with_index do |p, index| %>
			<% product = Product.find_by variant_id: p.product_id %>
			<% ordered = false %>
			<tr<% if index % 2 != 0 %> class="odd"<% end %>>
				<td class="center">
					<div class="img-outer">
						<img src="<%= product.image_url %>" alt="<%= product.title %>"/>
					</div>
				</td>
				<td>
					<%= product.title %>

					<% @orders.each do |order| %>
						<% order.line_items.each do |line_item| %>
							<% if(product.variant_id == line_item.variant_id) %>
							<% ordered = true %>
							<span class="ordered">
								<a href="<%= store_url %>account/orders/<%= order.token %>">
								<% time = DateTime.iso8601(order.created_at) %>
								<%= time.strftime("Ordered on %m/%d/%Y") %>
								</a>
							</span>
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td class="center">
					<% if product.quantity > 0 %>
						<%= product.quantity %>
					<% else %>
						<span class="sold-out">Sold Out</span>
					<% end %>
				</td>
				<td class="center">$<%= product.price %></td>
				<td class="center"><a href="<%= store_url %>products/<%= product.handle %>">View in store</a></td>
				<td class="center">
					<% if product.quantity > 0 %>
						<form action="<%= store_url %>cart/add" method="post">
							<input type="hidden" name="id" value="<%= product.variant_id %>"/>
							<% if(ordered == true) %>
								<input type="submit" value="Reorder"/>
							<% else %>
								<input type="submit" value="Buy"/>
							<% end %>
						</form>
					<% end %>
				</td>
				<td>
					<%= link_to 'Remove', users_product_path(p.id, :cid => @user.customer_id), :method => :delete, :class => "remove", :confirm => "Are you sure ?"%>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>You have no products on your wishlist yet. <a href="<%= store_url %>collections/all">Start shopping!</a></p>
<% end %>