<!DOCTYPE html>
<html>
<head>
  <title>Wishlistify</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300,400,600,700|Montserrat:300,400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="Header">
		<div class="container">
			<h1><%= link_to "Wishlistify", root_url %></h1>
		</div>
	</header>
	<nav id="Menu">
		<div class="container">
			<a href="<%= store_url %>">Visit Outdoor Apparel Store</a>
			<div id="Search">
				<%= form_tag store_url + 'search', method: :get do %>
				<%= text_field_tag 'q' %>
				<%= submit_tag "Search" %>
				<% end %>
			</div>
		</div>
	</nav>
	<section id="Main">
		<div class="container">
			<% if notice %>
				<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>

			<%= yield %>
		</div>
	</section>
</body>
</html>
